parameters:
	ignoreErrors:
		- '/Access to an undefined property duncan3dc\\ObjectIntruder\\Intruder::/'
		- '/^Call to an undefined method duncan3dc\\Laravel\\Element::passthru\(\)\.$/'
		- '/^Call to an undefined method duncan3dc\\Laravel\\Dusk::(element|elements|passthru|resize)\(\)\.$/'

includes:
	- vendor/phpstan/phpstan-mockery/extension.neon
